body {
  background-color:#EDF5FC;
  font-family: "roboto", sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-weight: 100;
}

.btn-gray {
  text-decoration: none;
  color:rgb(250, 250, 250);
  background-color: #A39BA8;
  padding:10px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.5s;
}

.btn-gray:hover {
  color:rgb(0,0,0);
  background-color: #B8C5D6;
}

.container {
  width: 800px;
  margin: 0px auto;
}

.card-white {
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #A39BA8;
  padding: 10px;
  margin: 20px;
}

.image-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.logo {
  color:#A39BA8;
}

.logo:hover {
  color: #B8C5D6;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
